* {
    box-sizing: border-box;
}

.hide {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

#reset_container, h1 {
    text-align: center;
}